In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
train = pd.read_csv('dataset/train.csv')
test = pd.read_csv('dataset/test.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
tree_clf = DecisionTreeClassifier(max_depth=3)

In [6]:
def transf(valor):
        if valor == 'female':
            return 1
        else:
            return 0
train['Sex'] = train['Sex'].map(transf)
test['Sex'] = test['Sex'].map(transf)

In [7]:
vari = ['Sex', 'Age', 'SibSp', 'Parch']

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S

In [9]:
x = train[vari]
y = train['Survived']

In [10]:
x = x.fillna(-1)

In [22]:
modelo.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [11]:
x_prev = test[vari]
x_prev= x_prev.fillna(-1)
x_prev.head()

   Sex   Age  SibSp  Parch
0    0  34.5      0      0
1    1  47.0      1      0
2    0  62.0      0      0
3    0  27.0      0      0
4    1  22.0      1      1

In [27]:
p = modelo.predict(x_prev)

In [30]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,NaN,S

In [37]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [38]:
sub.to_csv("primeiro_modelo.csv", header = True)

In [39]:
!head -10 primeiro_modelo.csv

PassengerId,Survived
892,0
893,0
894,0
895,1
896,1
897,0
898,1
899,0
900,1

In [13]:
tree_clf.fit(x, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
tree_prev = tree_clf.predict(x_prev)

In [25]:
tre_sub = pd.Series(tree_prev, index=test['PassengerId'], name='Survived')
tre_sub.head()

PassengerId
892    0
893    1
894    0
895    0
896    1
Name: Survived, dtype: int64

In [26]:
tre_sub.to_csv("segundo_modelo.csv", header=True)
!head -10 segundo_modelo.csv

PassengerId,Survived
892,0
893,1
894,0
895,0
896,1
897,0
898,1
899,0
900,1

Criando um modelo de avaliação localmente.

In [18]:
x_train, x_valid, y_train, y_valid = train_test_split(x,y)

In [19]:
x_train.shape, y_train.shape

((668, 4), (668,))

In [20]:
tree_clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [21]:
p = tree_clf.predict(x_valid)

In [22]:
accuracy_score(y_valid, p)

0.7982062780269058

In [81]:
np.mean(y_valid == p)

0.7869955156950673

In [86]:
p = (x_valid['Sex'] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7623318385650224